@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-lato), sans-serif;
}

/* Heading styles */
h2 {
  font-size: 54px;
  font-weight: 800;
  line-height: 60px;
  color: #2c2c52;
  font-family: var(--font-poppins), sans-serif;
}

h4 {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  font-family: var(--font-poppins), sans-serif;
}

h5 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  font-family: var(--font-poppins), sans-serif;
}

.services-column {
  max-height: 250px; /* Adjust the value as needed */
  overflow: hidden;
}

/* Global button styles */
button,
.button {
  font-family: var(--font-lato);
}
