@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-lato), sans-serif;
}

.services-column {
  max-height: 250px; /* Adjust the value as needed */
  overflow: hidden;
}

/* Global button styles */
button,
.button {
  font-family: var(--font-lato);
}
