@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(14,21,91,1) 50%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.services-column {
  max-height: 250px; /* Adjust the value as needed */
  overflow: hidden;
}
